<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script defer src="./fonts/js/all.js"></script>
</head>

<body style="margin: 2rem">
<div class="container">
    <form action="#" th:action="@{/alunos/add}" method="post" th:object="${aluno}">
        <div class="form-group">
            <label for="inputNome">Nome</label>
            <input type="text" th:field="*{nome}" class="form-control" id="inputNome" name="nome"
                   placeholder="Digite o nome completo">
        </div>
        <div class="form-group">
            <label for="inputEmail">E-mail</label>
            <input type="email" th:field="*{email}" class="form-control" id="inputEmail" name="email"
                   placeholder="Digite o email">
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</div>
</body>
</html>